.header-logo {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-conatiner {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  gap: 50px;
  background-color: #22577e;
}

.navbar-conatiner .main-header-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.navbar-conatiner .main-header-tabs .tabs {
  position: relative;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.tabs .sub-tabs-dropdown.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 500px;
  overflow-y: hidden;
  /* transition: all 0.5s linear; */
  animation: dropdown 0.5s linear forwards;
}

.tabs .sub-tabs-dropdown a {
  color: #444;
  padding: 12px 16px;
  display: inline;
  width: 100%;
  font-size: 1.05rem;
}

.tabs .sub-tabs-dropdown.hidden {
  display: none;
  max-height: 0;
}

.navbar-conatiner .hamburger {
  font-size: 1.2rem;
  cursor: pointer;
}

.tabs .sub-tabs-dropdown a:hover {
  background-color: #ddd;
}

@media screen and (min-width: 768px) {
  .navbar-conatiner .main-header-tabs {
    gap: 70px;
  }

  .tabs .sub-tabs-dropdown {
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .tabs .sub-tabs-dropdown.active {
    color: #fff;
    gap: 10px;
    min-width: 160px;
  }

  .navbar-conatiner .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-conatiner .main-header-tabs {
    display: flex;
    position: fixed;
    left: -100%;
    top: 50px;
    flex-direction: column;
    gap: 22px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    color: #444;
    padding: 1rem 0;
  }

  .main-header-tabs.active {
    left: 0;
  }

  .navbar-conatiner .main-header-tabs .tabs {
    color: #333;
    padding: 10px 0;
  }

  .navbar-conatiner .hamburger {
    display: block;
    color: #fff;
  }

  .tabs .sub-tabs-dropdown.active {
    position: relative;
    top: 12px;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #f6f6f6;
  }
}

@keyframes dropdown {
  from {
    display: none;
    max-height: 0;
  }
  to {
    display: block;
    max-height: 500px;
  }
}
